fastapi>=0.115.0
uvicorn[standard]>=0.34.0
sqlalchemy>=2.0.41
alembic>=1.15.2
psycopg[binary]>=3.2.6
argon2-cffi>=23.1.0
arq==0.28.0
redis>=5.3.1,<6
cos-python-sdk-v5>=1.9.37
simfin>=1.0.1
sentry-sdk>=2.60.0
